@use "../utils/vars.scss" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; // Відстань між текстом і спінером
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background-color 80ms ease-in,
    transform 80ms ease-in;
  border: none;
  position: relative;

  &--primary {
    background-color: $button-primary;
    color: $button-text;

    &:hover {
      background-color: lighten($button-primary, 4%);
      transform: translateY(-2px);
    }

    &:active {
      background-color: darken($button-primary, 8%);
      transform: translateY(4px);
    }

    &.button--loading {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  &--dark {
    background-color: $button-dark;
    color: $button-text;
    display: flex;

    &:hover {
      background-color: lighten($button-dark, 4%);
      transform: translateY(-2px);
    }

    &:active {
      background-color: darken($button-dark, 8%);
      transform: translateY(4px);
    }

    .button__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .button__text {
    transition: color 120ms ease-out;
  }

  .spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    display: none;
  }

  &.button--loading .spinner {
    display: inline-block;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
