@use "../utils/vars.scss" as *;

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #{$text-secondary};
  margin-bottom: 4px;
}

.input-box {
  width: 100%;
  padding: 9px 11px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #{$textfield-default};
  border-radius: 6px;
  outline: none;
  transition: border 0.2s ease-in-out;
  box-shadow: 0px 2px 4px -2px #{$shadow};

  &:focus {
    border-color: #{$text-secondary};
  }

  &::placeholder {
    color: #{$text-secondary};
    font-size: 16px;
  }
}

.input-error {
  border-color: #{$error};
}

.error-text {
  font-size: 12px;
  color: #{$error};
  margin-top: 4px;
}
