@use "../utils/vars.scss" as *;

.payment-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

.payment-title {
  display: flex;
  flex-direction: column;
}

.payment-title__headline {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #{$text-primary};
}

.payment-title__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #{$text-primary};
}

.payment-content {
  width: 420px;
  display: flex;
  flex-direction: column;
}

.payment-warning {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #{$text-secondary};
  & strong {
    font-weight: 600;
  }
  margin-top: 8px;

  border: 1px solid #{$divider};
  padding: 11px 15px;
  border-radius: 8px;
}
