$text-primary: #363a43;
$text-secondary: #666c7b;
$text-tertiary: #b0b4be;
$text: #797e8b;
$textfield-default: #c7c9d1;
$divider: #e4e6ec;
$button-primary: #028837;
$button-hover: #029c3f;
$button-pressed: #02742f;
$button-text: #ffffff;
$button-dark: #000000;
$grey-block: #f7f7f9;
